contourpy==1.3.3
cycler==0.12.1
dbus-python==1.4.0
fmm3dpy==2.1.0
fonttools==4.61.1
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.4
packaging==25.0
pillow==12.2.0
pyglet==1.5.31
pyparsing==3.3.2
PyQt5==5.15.10
PyQt5_sip==12.17.0
PyQt6==6.9.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.10.2
python-dateutil==2.9.0.post0
scipy==1.17.1
six==1.17.0
tkinter==3.13.12
trimesh==4.12.2
